@using Testify.Web.Data.Commons
@using Testify.Web.Shared
<MudDialog>
    <TitleContent>
    <TitleContent>
        <MudText Style="font-size: 18px; font-weight: bold; text-transform: uppercase">Sửa lớp học</MudText>
    </TitleContent>
    </TitleContent>
    <DialogContent>
        @if(isLoading)
        {
            <LoadingContext />
        }
        else
        {
            <MudForm Spacing="4" Model="@classes" @ref="@form">
                <div>
                    <MudTextField For="@(() => classes.Name)" Style="padding: 0" T="string" Label="Tên lớp học" @bind-Value="classes.Name" />
                </div>

                <div>
                    <MudNumericField For="@(() => classes.Capacity)" Style="padding: 0" T="int" Label="Số Lượng" @bind-Value="classes.Capacity" />
                </div>

                <div>
                    <MudTextField For="@(() => classes.Description)" Style="padding: 0" T="string" Label="Mô tả" @bind-Value="classes.Description" />
                </div>

                <MudSelect T="Guid" @bind-Value="teacherId" Label="Giáo viên quản lý" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    @if (teacherId == Guid.Empty)
                    {
                        <MudSelectItem Value="Guid.Empty">Không có giảng viên nào!</MudSelectItem>
                    }
                    else
                    {
                        @foreach (var itemLevel in _lstTeacher)
                        {
                            <MudSelectItem Value="@itemLevel.Id">@itemLevel.FullName</MudSelectItem>
                        }
                    }
                </MudSelect>

                <MudSelect T="int" @bind-Value="subjectId" Label="Môn Học" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                    @if (subjectId == -1)
                    {
                        <MudSelectItem Value="-1">Không có môn học nào!</MudSelectItem>
                    }
                    else
                    {
                        @foreach (var itemName in _lstSubject)
                        {
                            <MudSelectItem Value="@itemName.Id">@itemName.Name</MudSelectItem>
                        }
                    }
                </MudSelect>
            </MudForm>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Surface" OnClick="Cancel">Đóng</MudButton>
        <MudButton Color="Color.Warning" OnClick="Submit">Sửa</MudButton>
    </DialogActions>
</MudDialog>
@code {
    MudForm form;
    private Class classes { get; set; } = new();
    private List<User> _lstTeacher;
    private List<Subject> _lstSubject;
    private Guid teacherId = Guid.Empty;
    private int subjectId = -1;

    [Parameter]
    public int ClassId { get; set; }
    private bool isLoading { get; set; } = true;
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Loaddata("");
    }

    private async Task Loaddata(string? textSearch)
    {
        classes = await _serClass.GetClassId(ClassId);

        _lstTeacher = await _serLec.GetAllTeacher();
        if (classes.TeacherId != null)
        {
            teacherId = classes.TeacherId;
        }
        else
        {
            teacherId = Guid.Empty;
        }

        _lstSubject = await _serSub.GetAllSub(textSearch, true);
        if (classes.SubjectId != null)
        {
            subjectId = classes.SubjectId ?? -1;
        }
        else
        {
            subjectId = -1;
        }

        isLoading = false;
    }

    private bool ValidateForm()
    {
        int count = 0;
        if (classes.Name == null || classes.Name.Trim().Length == 0)
        {
            snackbar.Add("Nội dung trống", Severity.Error);
            count += 1;
        }
        if (classes.Description == null || classes.Description.Trim().Length == 0)
        {
            snackbar.Add("Nội dung trống", Severity.Error);
            count += 1;
        }
        if (classes.Capacity < 10)
        {
            snackbar.Add("Số lượng tối thiểu 10", Severity.Error);
            count += 1;
        }
        if (teacherId == Guid.Empty || teacherId == null)
        {
            snackbar.Add("Chưa chọn giáo viên", Severity.Error);
            count += 1;
        }
        if (subjectId == -1 || subjectId == null)
        {
            snackbar.Add("Chưa chọn môn học", Severity.Error);
            count += 1;
        }
        if (count > 0)
        {
            return true;
        }
        return false;
    }

    private async Task Submit()
    {
        var checkValidation = ValidateForm();

        if (!checkValidation)
        {
            classes.TeacherId = teacherId;
            classes.SubjectId = subjectId;
            var checkAddClass = await _serClass.UpdateClass(classes);
            if (checkAddClass != null)
            {
                MudDialog.Close(DialogResult.Ok(true));
                snackbar.Add("Sửa thành công", Severity.Success);
            }
            else
            {
                MudDialog.Close(DialogResult.Ok(true));
                snackbar.Add("Sửa thất bại", Severity.Error);
            }
        }
    }

    private void Cancel() => MudDialog.Cancel();
}
