<MudDialog>
    <TitleContent>
        Thao tác cho bài thi @titleExam
    </TitleContent>
    <DialogContent>
       @if (currentSubmission.Id!=null)
       {
           <div class="d-flex align-end justify-space-between mud-width-full">
               <div class="d-flex flex-column">
                   <MudText><b>Tên: </b> @currentUser.FullName</MudText>
                   <MudText><b>Emai: </b> @currentUser.Email</MudText>
                   <MudText><b>SDT: </b> @currentUser.PhoneNumber</MudText>
                   <MudText><b>Nộp ngày: </b>@currentSubmission.SubmitTime</MudText>
                   <MudText><b>Thời gian làm bài: </b>   @(currentSubmission.TimeTaken.Hours) giờ @(currentSubmission.TimeTaken.Minutes) phút @(currentSubmission.TimeTaken.Seconds) giây </MudText>
                   <MudText><b>Điểm: </b>@currentSubmission.TotalMark</MudText>
               </div>
           </div>
           <div>
               <MudSelect @bind-Value="statusChange" T="bool?" Label="Sửa trạng thái bài thi" Variant="Variant.Outlined">
                   <MudSelectItem Value="true as bool?">Chấp nhận</MudSelectItem>
                   <MudSelectItem Value="false as bool?">Không công nhận</MudSelectItem>
                   <MudSelectItem Value="null as bool?">Cần kiểm tra</MudSelectItem>
               </MudSelect>

           </div>
       }
       else
       {
           <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
       }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="SaveSubmit">Lưu</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private MudDialogInstance MudDialog { get; set; }
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string titleExam { get; set; }
 

    private bool? statusChange = null;

    private User currentUser = new User();

    private Submission currentSubmission = new Submission();

    protected override async Task OnInitializedAsync()
    {
        var sub =  await _serSubmission.GetById(Id);
      
        if (sub != null)
        {
            var usr = await _serUser.GetByidUser(sub.UserId);
            currentSubmission = sub;
            currentUser = usr;
            statusChange = currentSubmission.Status;
            StateHasChanged();
        }
    }

    public async void SaveSubmit()
    {

        if (statusChange==currentSubmission.Status)
        {
            snackbar.Add("Không có gì thay đổi", Severity.Info);
            return;
        }
        
        currentSubmission.Status = statusChange;
        bool stats = await _serSubmission.UpdateStatus(currentSubmission);
        if (stats)
        {
            snackbar.Add("Cập nhật thành công", Severity.Info);
        }
        else
        {
            snackbar.Add("Cập nhật thất bại", Severity.Error);
        }
    }
    
    // public class StatusOption
    // {
    //     public bool? Value { get; set; }
    //     public string Text { get; set; }
    // }
    
   

    private void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();
}