@page "/Examiner/QuestionLevelManagement"
@using Testify.DAL.Models
@layout AdminLayout
@inject IDialogService DialogService

<style>
    .input-search-end {
        color: #8e8e8e;
        padding-left: 15px;
    }

    .add-button-end {
        background-color: #29A69A;
        color: white;
        width: 100%;
    }

        .add-button-end:hover {
            background-color: white;
            color: #29a69a;
        }

    .icon-input-search {
        padding-left: 100px;
    }
</style>

<div style="font-family:Roboto; padding:30px; height:calc(100vh-(100vh-63px)); background-color:#fafafa">
    <MudPaper Style="padding:15px;">
        <MudText Class="fw-bold" Style="font-size:22px; color:#29A69A">LOẠI MỨC ĐỘ CỦA CÂU HỎI</MudText>
    </MudPaper>
    <MudGrid Style="padding:20px 0 ">
        <MudItem xl="10" lg="9" md="8" sm="7" xs="12">

        </MudItem>
        <MudItem xl="2" lg="3" md="4" sm="5" xs="12">
            <MudButton OnClick="@(() => OpenDialogAsync(_maxWidth,"create"))" Class="add-button-end" Variant="Variant.Filled">Thêm mới</MudButton>
        </MudItem>
    </MudGrid>

    <div class="bg-white rounded-3 mb-4" style="width:100%;">
        <MudTable Items="@_lstQuestionLevels" Dense="true" Hover="true" Virtualize="true" FixedHeader="true" HorizontalScrollbar="true" Height="500px">

            <ToolBarContent>
                <MudGrid Style="align-items:center;padding:0px; margin:0;width:100%">
                    <MudItem xl="6" lg="6" md="6" sm="4" xs="12" Style="padding:0px; margin:0;">
                        <MudText Style="font-size: 22px; font-weight: bold;color:#29a69a">Danh sách loại mức độ của câu hỏi</MudText>

                    </MudItem>
                    <MudItem xl="6" lg="6" md="6" sm="8" xs="12" Style="padding:0px; margin:0;">
                        <MudTextField T="string" Placeholder="Search" Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </MudItem>
                </MudGrid>

            </ToolBarContent>
            <HeaderContent>
                <MudTh hidden><MudTableSortLabel SortLabel="Id câu hỏi" T="string" hidden>Id loại câu hỏi</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Tên câu hỏi" T="string">Tên loại câu hỏi</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Thuộc môn" T="string">Mô tả</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Trạng thái" T="string">Trạng thái</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Thao tác" T="string">Thao tác</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id loại câu hỏi" hidden>@context.Id</MudTd>
                <MudTd DataLabel="Tên loại câu hỏi">@context.Name</MudTd>
                <MudTd DataLabel="Mô tả">@context.Description</MudTd>
                <MudTd DataLabel="Trạng thái">@context.Status</MudTd>

                <MudTd DataLabel="Thao tác">
                    <MudIconButton OnClick="@(()=> OpenDialogAsync(_maxWidth,"update"))" Icon="@Icons.Material.Filled.BorderColor" aria-label="update"></MudIconButton>
                    <MudIconButton OnClick="@(()=> OpenDialogAsync(_maxWidth,"details"))" Icon="@Icons.Material.Filled.Notes" aria-label="details"></MudIconButton>
                    <MudIconButton OnClick="@(()=> OpenDialogAsync(_maxWidth,""))" Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
                </MudTd>
            </RowTemplate>

            <NoRecordsContent>
                <MudText>No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

    </div>
</div>


@code {
    private List<QuestionLevel> _lstQuestionLevels;

    private async Task loadData()
    {
        _lstQuestionLevels = await _serQuestionLevel.GetAllQuestionLevels();
    }

    protected override async Task OnInitializedAsync()
    {
        await loadData();
    }

    private readonly DialogOptions _maxWidth = new() { MaxWidth = MaxWidth.Small, FullWidth = true };

    private async Task OpenDialogAsync(DialogOptions options, string name)
    {
        if (name.Equals("create"))
        {
            var dialog = await DialogService.ShowAsync<Dialog.QuestionLevel.CreateQuestionLevelDialog>("Options Dialog", options);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                await loadData();
            }
        }
        else if (name.Equals("update"))
        {
            var dialog = await DialogService.ShowAsync<Dialog.QuestionLevel.UpdateQuestionLevelDialog>("Options Dialog", options);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                await loadData();
            }
        }
        else if (name.Equals("details"))
        {
            var dialog = await DialogService.ShowAsync<Dialog.QuestionLevel.DetailQuestionLevelDialog>("Options Dialog", options);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                await loadData();
            }
        }
        else
        {
            var dialog = await DialogService.ShowAsync<Dialog.QuestionLevel.DeleteQuestionLevelDialog>("Options Dialog", options);
            var result = await dialog.Result;
            if (!result.Canceled)
            {
                await loadData();
            }
        }

    }
}
@* 
    openDialog
    crete
    detail
    update
    delete

    @class.

    status
    public int HoatDong = 1;
    public int KhongHoatDong = 0;
    public int AnVinhVien = 255;
*@