@page "/Examiner/QuestionManagement"
@using Testify.DAL.Models
@layout AdminLayout
@inject IDialogService DialogService

<div style="font-family:Roboto; padding:30px; height:calc(100vh-(100vh-64px)); background-color:#fafafa">
    <MudPaper Style="padding:15px;">
        <MudText Class="fw-bold" Style="font-size:22px; color:#29A69A">CÂU HỎI</MudText>
    </MudPaper>
    <MudGrid Style="padding:20px 0 ">
        <MudItem xl="10" lg="9" md="8" sm="7" xs="12">

        </MudItem>
        <MudItem xl="2" lg="3" md="4" sm="5" xs="12">
            <MudButton OnClick="@(() => OpenDialogAsync(_maxWidth,"create"))" Class="add-button-end" Variant="Variant.Filled">Thêm mới</MudButton>
        </MudItem>
    </MudGrid>

    <div class="bg-white rounded-3 mb-4" style="width:100%; margin-top:10px;">
        @* <div class="d-flex mt-2">
        <div>
        <img class=" ms-4 mt-4 img-icon-listclass" style="color:#29a69a" src="https://www.svgrepo.com/show/456444/list-clipboard.svg" />
        </div>

        <div>
        <MudText Class="fw-bold ps-3 mt-2" Style="font-size:22px; color:#29A69A; padding-top:13px;">Danh sách lớp học</MudText>
        </div>


        <div class="border rounded-pill mb-1 justify-content-end" style=" margin-top:10px;">
        <MudText Class=" input-search-end">Tìm kiếm theo tên hoặc theo mã   <MudIconButton Class="icon-input-search" Icon="@Icons.Material.Filled.Search"></MudIconButton> </MudText>
        </div>
        </div> *@
        @*     <hr /> *@


        <MudTable Items="@_lstQuestion" Dense="true" Hover="true" Virtualize="true" FixedHeader="true" HorizontalScrollbar="true" Height="500px">

            <ToolBarContent>
                <MudGrid Style="align-items:center;padding:0px; margin:0;width:100%">
                    <MudItem xl="6" lg="6" md="6" sm="4" xs="12" Style="padding:0px; margin:0;">
                        <MudText Style="font-size: 22px; font-weight: bold;color:#29a69a">Danh sách câu hỏi</MudText>

                    </MudItem>
                    <MudItem xl="6" lg="6" md="6" sm="8" xs="12" Style="padding:0px; margin:0;">
                        <MudTextField T="string" Placeholder="Search" Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </MudItem>
                </MudGrid>

            </ToolBarContent>
            <HeaderContent>
                <MudTh hidden><MudTableSortLabel SortLabel="Id câu hỏi" T="string" hidden>Id câu hỏi</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Tên câu hỏi" T="string">Tên câu hỏi</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Ngày tạo" T="string">Ngày tạo</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Mức độ" T="string">Mức độ</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Loại câu hỏi" T="string">Loại câu hỏi</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Thuộc môn" T="string">Thuộc môn</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Trạng thái" T="string">Trạng thái</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Thao tác" T="string">Thao tác</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Id câu hỏi" hidden>@context.Id</MudTd>
                <MudTd DataLabel="Tên câu hỏi">@context.Content</MudTd>
                <MudTd DataLabel="Ngày tạo">@context.CreatedDate</MudTd>
                <MudTd DataLabel="Mức độ">@context.QuestionLevelId</MudTd>
                <MudTd DataLabel="Loại câu hỏi">@context.QuestionTypeId</MudTd>
                <MudTd DataLabel="Thuộc môn">@context.SubjectId</MudTd>
                <MudTd DataLabel="Trạng thái">@context.Status</MudTd>

                <MudTd DataLabel="Thao tác">
                    <MudIconButton OnClick="@(()=> OpenDialogAsync(_maxWidth,"update"))" Icon="@Icons.Material.Filled.BorderColor" aria-label="update"></MudIconButton>
                    <MudIconButton OnClick="@(()=> OpenDialogAsync(_maxWidth,"details"))" Icon="@Icons.Material.Filled.Notes" aria-label="details"></MudIconButton>
                    <MudIconButton OnClick="@(()=> OpenDialogAsync(_maxWidth,""))" Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
                </MudTd>
            </RowTemplate>

            <NoRecordsContent>
                <MudText>No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

    </div>
</div>


@code {
    private List<Question> _lstQuestion;

    protected override async Task OnInitializedAsync()
    {
        _lstQuestion = await _serQuestion.GetAllQuestions();
    }

    private readonly DialogOptions _maxWidth = new() { MaxWidth = MaxWidth.Small, FullWidth = true };

    private Task OpenDialogAsync(DialogOptions options, string name)
    {
        if (name.Equals("create"))
        {
            return DialogService.ShowAsync<Dialog.Question.CreateQuestionDialog>("Options Dialog", options);
        }
        else if (name.Equals("update"))
        {
            return DialogService.ShowAsync<Dialog.Question.UpdateQuestionDialog>("Options Dialog", options);
        }
        else if (name.Equals("details"))
        {
            return DialogService.ShowAsync<Dialog.Question.DetailQuestionDialog>("Options Dialog", options);
        }
        else
        {
            return DialogService.ShowAsync<Dialog.Question.DeleteQuestionDialog>("Options Dialog", options);
        }

    }
}
