@page "/Examiner/RoomManagement"
@using Testify.DAL.Models
@layout AdminLayout
@inject IDialogService DialogService
<style>
    .add-button-end {
        background-color: #29A69A;
        color: white;
        width: 100%;
    }

        .add-button-end:hover {
            background-color: white;
            color: #29a69a;
        }

</style>
<div style="font-family:Roboto; padding:30px; height:calc(100vh-(100vh-64px)); background-color:#fafafa">
    <MudPaper Style="padding:15px;">
        <MudText Class="fw-bold" Style="font-size:22px; color:#29A69A">PHÒNG</MudText>
    </MudPaper>
    <MudGrid Style="padding:20px 0 ">
        <MudItem xl="10" lg="9" md="8" sm="7" xs="12">

        </MudItem>
        <MudItem xl="2" lg="3" md="4" sm="5" xs="12">
            <MudButton OnClick="@(() => OpenDialogAsync(_maxWidth,"create"))" Class="add-button-end" Variant="Variant.Filled">Thêm mới</MudButton>
        </MudItem>
    </MudGrid>

    <div class="bg-white rounded-3 mb-4" style="width:100%; margin-top:10px;">


        <MudTable Items="@room" Dense="true" Hover="true" Virtualize="true" FixedHeader="true" HorizontalScrollbar="true" Height="500px">

            <ToolBarContent>
                <MudGrid Style="align-items:center;padding:0px; margin:0;width:100%">
                    <MudItem xl="6" lg="6" md="6" sm="4" xs="12" Style="padding:0px; margin:0;">
                        <MudText Style="font-size: 22px; font-weight: bold;color:#29a69a">Danh sách phòng</MudText>

                    </MudItem>
                    <MudItem xl="6" lg="6" md="6" sm="8" xs="12" Style="padding:0px; margin:0;">
                        <MudTextField T="string" Placeholder="Search" Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                    </MudItem>
                </MudGrid>

            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortLabel="Mã phòng" T="string">Mã phòng</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Tên phòng" T="string">Tên phòng</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Số lượng" T="string">Số lượng</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Địa chỉ" T="string">Địa chỉ</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Trạng thái" T="string">Trạng thái</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Thao tác" T="string">Thao tác</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                @if (room?.Count == 0 || room == null)
                {
                    <h5>Empty</h5>
                }
                else
                {
                    @foreach(var item in room )
                    {
                        <MudTd DataLabel="Mã phòng">@context.Id</MudTd>
                        <MudTd DataLabel="Tên phòng">@context.Name</MudTd>
                        <MudTd DataLabel="Số lượng">@context.Capacity</MudTd>
                        <MudTd DataLabel="Địa chỉ">@context.Address</MudTd>
                        <MudTd DataLabel="Trạng thái">@context.Status</MudTd>
                        <MudTd DataLabel="Thao tác">
                            <MudIconButton OnClick="@(()=> OpenDialogAsync(_maxWidth,"update"))" Icon="@Icons.Material.Filled.BorderColor" aria-label="update"></MudIconButton>
                            <MudIconButton OnClick="@(()=> OpenDialogAsync(_maxWidth,"details"))" Icon="@Icons.Material.Filled.Notes" aria-label="details"></MudIconButton>
                            <MudIconButton OnClick="@(()=> OpenDialogAsync(_maxWidth,""))" Icon="@Icons.Material.Filled.Delete" aria-label="delete"></MudIconButton>
                        </MudTd>
                    } 
                }
                
            </RowTemplate>
            <NoRecordsContent>
                <MudText>No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

    </div>



</div>
@code {
    private int Index = -1; //default value cannot be 0 -> first selectedindex is 0.

    private List<Room>? room { get; set; }

    protected override async Task OnInitializedAsync()
    {
        room = await _serRoom.GetAllRoom();
    }

    private readonly DialogOptions _maxWidth = new() { MaxWidth = MaxWidth.Small, FullWidth = true };

    private Task OpenDialogAsync(DialogOptions options, string name)
    {
        if (name.Equals("create"))
        {
            return DialogService.ShowAsync<Dialog.Room.CreateRoomDialog>("Options Dialog", options);
        }
        else if (name.Equals("update"))
        {
            return DialogService.ShowAsync<Dialog.Room.UpdateRoomDialog>("Options Dialog", options);
        }
        else if (name.Equals("details"))
        {
            return DialogService.ShowAsync<Dialog.Room.DetailsRoomDialog>("Options Dialog", options);
        }
        else
        {
            return DialogService.ShowAsync<Dialog.Room.DeleteRoomDialog>("Options Dialog", options);
        }

    }
}




