@using Testify.DAL.Models
<div style="border-top: 1px solid #ccc">
    <MudForm Model="@answer" IsValid="isValid" @ref="form">
        <div class="d-flex justify-content-between align-items-center">
            <MudCheckBox T="bool" @bind-Value="@answer.IsCorrect" Label="Đáp án đúng" />
            <MudIconButton Icon="@Icons.Material.Outlined.DeleteOutline" OnClick="RemoveForm"></MudIconButton>
        </div>

        <MudTextField @bind-Value="@answer.Content" Label="Nội dung câu hỏi" Required="true" RequiredError="Không được để trống!" Immediate="true" Validation="@((string v) => string.IsNullOrWhiteSpace(v) ? "Không được để trống!" : null)" />
    </MudForm>
</div>

@code {
    [Parameter]
    public Answer answer { get; set; } = new();

    [Parameter]
    public int questionId { get; set; }

    [Parameter]
    public EventCallback<Answer> OnRemove { get; set; }

    private bool isValid;

    MudForm form;

    protected override async Task OnInitializedAsync()
    {
        answer.QuestionId = questionId;
    }

    [Parameter]
    public EventCallback<Answer> OnAnswerChanged { get; set; }

    private async void RemoveForm()
    {
        if (OnRemove.HasDelegate)
        {
            await OnRemove.InvokeAsync(answer);
        }
    }

    // private void OnInputChange(ChangeEventArgs e)
    // {
    //     if (OnAnswerChanged.HasDelegate)
    //     {
    //         OnAnswerChanged.InvokeAsync(answer);
    //     }
    // }

    public async Task<bool> ValidateAsync()
    {
        await form.Validate();
        return form.IsValid;
    }
}